body {
    background: #eaeef3;
    font: 13px Helvetica, sans-serif;
    min-width: 540px;
    margin: 0;
}

h1 {
    color: #53637d;
    font-size: 140%;
    font-weight: normal;
    margin: 0;
    padding: 13px 0 14px;
    text-align: center;
    text-shadow: white 0 1px 1px;
}

h3 {
    font-size: 14px;
    width: 80px;
    text-align: right;
    margin: 0;
    padding: .3em 1em 0 0;
}

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
}

input[type=checkbox] {
    margin-right: .5em;
}

label {
    margin-right: 1em;
}

fieldset {
    border: none;
}

.center {
    padding-left: 4%;
    margin: 0 auto;
}

#rules {
    border-top: 1px solid #D5DDE7;
    border-bottom: 1px solid #FFF;
}

.rule {
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 3%;
    margin: 0 auto;
    opacity: 1;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #D5DDE7;
}
.rule-animation {
    -webkit-transition: height .1s ease-out, opacity .1s linear;
}
.rule-hidden {
    height: 0 !important;
    opacity: 0;
}
.rule-disabled {
    color: #8F98A3;
}

.error {
    display: none;
}

.row {
    display:-webkit-box;
    margin: .5em 0;
    padding-right: 10px;
}
.row-error {
    background-color: #FDD;
    outline: 5px solid #FDD;
    color: #900;
}
.row-error .error {
    display: block;
}
.row p {
    -webkit-box-flex: 1;
    margin: 0;
    padding: 0;
}
.row-checkboxes {
    padding-left: 92px;
}

.input-text {
    width: 99%;
    font-size: inherit;
}


#add_row {
    margin-top: 6px;
    padding: 3px 10px;
}

#dummy_rule {
    position: relative;
    top: -999px;
}

.right-side {
    display: block;
    -webkit-box-flex: 1;
    text-align: right;
    margin-top: -3px;
}
